---
import BaseLayout from '$components/layouts/BaseLayout.astro';
import ContentSection from '$components/ContentSection.astro';
import Hero from '$components/Hero.astro';
---

<BaseLayout>
    <Hero image="/assets/manuel-meurisse-EuCll-F5atI-unsplash.jpg" alt="couple sitting on beach next to fire" />

    <ContentSection>
        <h1>Astro + Tailwindcss Starter</h1>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis saepe sed ratione ea vitae, explicabo, aut cupiditate nobis inventore itaque sequi perspiciatis? Molestiae libero sunt pariatur error cum nam excepturi obcaecati voluptatibus nihil modi neque a dicta cupiditate exercitationem magni temporibus repellat dolor fugit ad doloremque iusto, asperiores illum quos? Nam pariatur eius, vero cumque voluptatibus quos dolorum atque quidem voluptatum mollitia voluptas, ab quod reprehenderit consequuntur maiores quasi eum eligendi quas aut? Dolor numquam architecto ipsa ad, veritatis doloremque iure, ipsam sit, ex corporis quidem ea qui. Earum accusantium dolorum quidem ex voluptate beatae, iure pariatur obcaecati molestiae minima ad officia magnam nostrum mollitia aspernatur reprehenderit laudantium odit labore nulla! Maiores quae eligendi tempore fuga rem dicta saepe enim amet placeat, a sapiente repudiandae delectus assumenda animi quasi corporis voluptate nesciunt quidem maxime illum suscipit! Nemo et nulla, consequatur aliquam labore temporibus placeat voluptas, nesciunt quis minus alias praesentium expedita modi. Cumque, veritatis minus deserunt quam, officia mollitia explicabo repellat, et ea corrupti dignissimos illo neque nisi. Temporibus vitae pariatur ducimus distinctio quod, vel officiis! Quos sed tempora quod fugit odio aut, nesciunt consequatur eos aspernatur itaque, omnis quisquam repellendus dolores ex est illo quae reprehenderit totam eaque et.</p>

        <h2>Default Colors</h2>
        <div class="grid grid-cols-4 gap-6">
            <div><div class="h-48 bg-primary-500"></div><p>Primary</p></div>
            <div><div class="h-48 bg-secondary-500"></div><p>Secondary</p></div>
            <div><div class="h-48 bg-tertiary-500"></div><p>Tertiary</p></div>
            <div><div class="h-48 bg-accent-500"></div><p>Accent</p></div>
        </div>

        <h3>Heading Level 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa deleniti, incidunt enim nisi vitae earum quas porro iusto optio ipsa cumque cum magni molestiae nulla eveniet sint quasi numquam quisquam quae necessitatibus explicabo cupiditate? Rem tenetur dolores possimus officia facilis, dicta quibusdam quisquam distinctio quaerat, veritatis incidunt voluptatum rerum saepe, quae sed natus deleniti soluta quia doloribus dolor necessitatibus ducimus nulla? Quaerat, molestias in optio voluptates aperiam inventore, culpa at dolorum ratione, quibusdam laudantium. Accusamus fuga cum facere autem officiis saepe necessitatibus, non pariatur ipsa libero, iusto velit at voluptate qui amet ea nihil quidem eveniet! Eius debitis at expedita? Molestiae enim officiis corrupti. Quas exercitationem voluptate expedita ea minus. Veniam quidem ipsam laboriosam vero repudiandae consequuntur corporis sunt incidunt quam id modi, eum iusto illo maxime nam magni dolorum dicta? Quis laudantium voluptatum minima libero suscipit tempore est quaerat ullam sit aliquam. Nulla id dolore nesciunt, eius ab totam, repellat at neque, sequi mollitia temporibus nisi aspernatur dicta earum consectetur veniam iure eos saepe odit ducimus maxime et? Eos sequi expedita assumenda itaque. Incidunt possimus quod magni corrupti dolor perspiciatis numquam id ut ullam totam aspernatur cum iusto ex commodi quidem autem, excepturi eum architecto! Quae id deleniti aut?</p>

        <h4>Heading Level 4</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa deleniti, incidunt enim nisi vitae earum quas porro iusto optio ipsa cumque cum magni molestiae nulla eveniet sint quasi numquam quisquam quae necessitatibus explicabo cupiditate? Rem tenetur dolores possimus officia facilis, dicta quibusdam quisquam distinctio quaerat, veritatis incidunt voluptatum rerum saepe, quae sed natus deleniti soluta quia doloribus dolor necessitatibus ducimus nulla? Quaerat, molestias in optio voluptates aperiam inventore, culpa at dolorum ratione, quibusdam laudantium. Accusamus fuga cum facere autem officiis saepe necessitatibus, non pariatur ipsa libero, iusto velit at voluptate qui amet ea nihil quidem eveniet! Eius debitis at expedita? Molestiae enim officiis corrupti. Quas exercitationem voluptate expedita ea minus. Veniam quidem ipsam laboriosam vero repudiandae consequuntur corporis sunt incidunt quam id modi, eum iusto illo maxime nam magni dolorum dicta? Quis laudantium voluptatum minima libero suscipit tempore est quaerat ullam sit aliquam. Nulla id dolore nesciunt, eius ab totam, repellat at neque, sequi mollitia temporibus nisi aspernatur dicta earum consectetur veniam iure eos saepe odit ducimus maxime et? Eos sequi expedita assumenda itaque. Incidunt possimus quod magni corrupti dolor perspiciatis numquam id ut ullam totam aspernatur cum iusto ex commodi quidem autem, excepturi eum architecto! Quae id deleniti aut?</p>
    </ContentSection>
</BaseLayout>
